div{

    text-align: center;
    margin:50px;
}
#bon{
    text-align: center;

}
img{

    height: 300px;
}
#controles{
    color: rgb(115, 202, 243);
    font-family: "Arial Black" ,Arial, Helvetica, sans-serif;

}
#gh{

    font-family: "Arial Black",Arial, Helvetica, sans-serif;
}